  
 
 .navbar-brand{
     text-shadow: 5px 5px 25px -5px gray;
     font-size: 2em;
 }

 .header{
      width: 100%;
      position: fixed;
      z-index: 4;
  }

  .carousel-inner img{
      height: 600px;
      margin-top: 5.5em;
      z-index: 3;
     
  }

  .section-2{
      margin-top: 10%;
  }