.header-icons{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #777;
    cursor: pointer;
    margin: 2px 8px;
}

.pro-image{
    height: 25px;
    width: 25px;
    border-radius: 50%;

}

.header-icons:hover{
    color: black;
}

.header-icon-all{
    font-size: 50px;
}

.icon-name{
    margin: 0;
    flex-wrap: wrap;
    font-size: 12px;
}

.icon-down{
    margin: -5px;
}