.input-option-main{
    display: flex;
    flex:1;
    height: 30px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    color: #666;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
}

.input-option-main:hover{
    background-color: #eee; 
}

.input-type{
    margin: 0 5px;
}