.recent-data{
    margin: 15px 0;
    text-align: left;
    color: #0a66c2;
    cursor: pointer;
    font-size: 12px;
}

.recent-data-array{
    padding: 2px 0 0 10px;
    color: #666;
    border-radius: 2px;
}

.recent-data-array:hover{
    background-color: #eee;
    color: black;
}