body{
    background-color: lightgrey;
   
}
section{
    width: 92%;
    margin: auto;
    background-color: white;
    padding: 4%;
    margin-top: 4%;
    box-shadow: 10px 10px 15px -5px gray;
    border-radius: 5px;
}

.biodata{
    font-size: smaller;
}

.skills > h5{
    margin: 5% 0;
}

.para-1,.para-2{
    margin-top: 15px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading-1{
    padding-bottom: 5px;
    border-bottom: 3.5px solid rgb(35, 144, 187);
    font-size: 25px;
}
