body{
    overflow: visible;
}

.container{
    display: flexbox;
    max-width: 400px;
    margin: 8vh auto 0 auto;
    padding: 10px;
    box-shadow: 5px 5px 20px -10px gray;
}


#display-1{
    height: 45px;
    padding: 0 20px;
    color: #888888;
    line-height: 40px;
    padding: 10px 8px;
    font-size: 20px;
}


#display{
    text-align: right;
    height: 60px;
    line-height: 50px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.btn{
    border: 0.5px solid #999;
    line-height: 90px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal{
    background-color: rgb(85, 20, 85);
    font-size: 35px;
    color: white;
}

#equal:hover{
    background-color: black;
    font-size: 35px;
    color: white;
}

.btn:hover{
    color: white;
    background-color: black;
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 450px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0;
        padding: 0;
        width: 100vw;
        /* overflow: hidden; */
    }
    .container{
        max-width: 95%;
        max-height: 95%;
        box-shadow: none;
    }
    #display-1{
        height: 35px;
        padding: 0 8px;
        color: #888888;
        line-height: 25px;
        padding: 1px 4px;
        font-size: 20px;
    }

    #display{
        height: 40px;
        line-height: 40px;
        padding: 10px 20px;
        font-size: 18px;
    }

    .btn{
        border: 0.5px solid #999;
        line-height: 60px;
        font-size: 20px;
    }
    
}