.header{
    display: flex;
    align-items: center;
    padding: 2px 12%;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    background-color: white;
}


.left-header{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.search-header{
    padding: 5px;
    display: flex;
    align-items: center;
}

.search-icon{
    background-color: #eef3f8;
    padding: 5px 0 5px 10px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    margin-left: 5px;
}

.search{
    outline: none;
    border: none;
    padding: 9px;
    background-color: #eef3f8;
    border-radius: 0 5px 5px 0;
    width: 200px;
}

.linkedin-icon{
   object-fit: contain;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.right-header{
 display: flex;
 align-items: center;
 flex-direction: row;
 float: right;
 justify-content: space-evenly;
}

.vertical-line{
    height: 50px;
    width: 0.2px;
    background-color: #ccc;
    margin: 0 10px;
}