.container{
    display: flex;
    justify-content: center;
}

.card{
    margin-top: 10%;
    box-shadow: 5px 5px 20px -8px gray;
    width: 500px;
    height: 500px;
}



label{
    margin: 15px;
    font-size: 1em;
    font-weight: 600;
}

#answer{
    border: 1px solid rgb(102, 101, 101);
    border-radius: 2px;
}

input, select, #answer{
    margin: 7px;
    width:300px;
    height: 30px;
    float: right;
}

@media screen and (max-width : 500px) {
    .container{
        display: flexbox;
        justify-content: center;
    }

    label{
        margin: 10px;
        font-size: 1em;
        font-weight: 600;
    }

    input, select, #answer{
        margin: 7px;
        width:200px;
        height: 25px;
        float: right;
    }
}